.slider_bg {
  overflow: hidden;
  div {
    div {
      padding-top: 5rem;
      div {
        padding-top: 0rem;
        height: 100vh;
        position: relative;
        background-color: white;
        img:nth-of-type(1) {
          width: 100%;
          max-height: 39rem;
          position: absolute;
          transition: left 1s;
          left: 0%;
        }
        img:nth-of-type(2) {
          position: absolute;
          width: 100%;
          max-height: 39rem;
          transition: left 1s;
          left: 105%;
        }
        img:nth-of-type(3) {
          position: absolute;
          width: 100%;
          max-height: 39rem;
          transition: left 1s;
          left: 215%;
        }
      }
    }
  }
}
