.sort_by_title {
  div:nth-of-type(1) {
    background-color: #f7f7f8;
    height: 3rem;
    margin-bottom: 15px;
    span {
      color: #494949;
      font-size: 1rem;
      line-height: 3rem;
      padding: 0rem 0rem 0rem 0.875rem;
    }
  }
}
