.cart_page_bg {
  min-height: 75vh;
  div:nth-of-type(1) {
    div {
      padding-top: 10%;
      background-color: #f7f7f8;
      div {
        min-height: 6rem;
        padding: 3rem 17% 0;
        h2 {
          color: #494949;
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
    }
  }
  div:nth-of-type(2) {
    div {
      background-color: #b2bbc4;
      a {
        display: block;
        width: 100%;
        text-align: center;
        cursor: pointer;
        height: 48px;
        color: #ffffff !important;
        line-height: 48px;
        padding-left: 17%;
        text-align: left;
        svg {
          color: #ffffff !important;
          font-size: 1.5rem;
          margin-bottom: 3px;
        }
      }
    }
  }
  div:nth-of-type(3) {
    background-color: #f7f7f8;
    div:nth-of-type(1) {
      p {
        margin: 0rem;
        line-height: 3rem;
      }
    }
    div:nth-of-type(2) {
      div {
        cursor: pointer;
        position: relative;
        padding: 0%;
        height: 48px;
        background-color: transparent;
        svg {
          position: absolute;
          right: 0%;
          bottom: 25%;
          font-size: 1.5rem;
        }
      }
    }
  }
  div:nth-of-type(4) {
    div:nth-of-type(1) {
      height: auto;
      transition: height 2s ease;
      overflow: hidden;
    }
  }
  div:nth-of-type(5) {
    div {
      h2 {
        padding-top: 10%;
        text-align: center;
        font-weight: 400;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .cart_page_bg {
    .btn_cart {
      display: none;
    }
  }
}
