.clear_filter_bg {
  display: flex;
  div {
    p {
      margin: 0;
      color: #fff;
      text-transform: capitalize;
      line-height: 3rem;
     white-space: nowrap;
    }
  }
}

@media screen and (max-width: 700px) {
  .clear_filter_bg {
    margin-top: 1rem !important;
    display: block;
    div {
      p {
        color: #b2bbc4 !important;
      }
    }
  }
}
