.sort_price_large_main {
  p {
    color: #b2bbc4;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 0rem 0rem 0.5rem 0rem;
    padding-left: 10px;
  }
  div {
    input {
      width: 50%;
      height: 50px;
      border: 1px solid #b2bbc4;
      padding-left: 14px !important;
      color: #494949;
      border-radius: 0rem !important;
      &:focus {
        outline: none !important;
      }
    }
  }
}
