.item {
  border-bottom: solid 1px #b2bbc4;
  height: 6rem;
  cursor: pointer;
  position: relative;
  &:hover {
    background-color: #b2bbc4 !important;
    a {
      color: #494949 !important;
    }
    svg {
      color: #494949 !important;
    }
  }
  span {
    padding-right: 1rem;
    padding-top: 0.5rem;
    position: absolute;
    width: 100%;
    height: 6rem;
    text-align: end;
    svg {
      font-size: 1.3rem;
      color: #b2bbc4;
    }
  }
  a {
    display: block;
    color: #b2bbc4;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 6rem;
  }
}

.item_more_info {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 0rem;
  .item_more_info_img {
    background-color: #f7f7f8;
    width: 30%;
    overflow: hidden;
    position: relative;
    border-bottom: solid 1px #b2bbc4;
    img {
      width: 100%;
      height: auto;
      position: relative;
      left: 50%;
    }
    h3 {
      position: absolute;
      bottom: 45%;
      left: 5%;
      text-align: left;
      color: #494949;
      font-weight: 400;
      span {
        text-transform: uppercase;
      }
    }
    a {
      width: 100%;
      display: block;
      position: absolute;
      bottom: 30%;
      left: 5%;
      text-align: left;
      color: #b2bbc4 !important;
      font-size: 1.3rem;
      text-decoration: none;
      &:hover {
        color: #323233 !important;
        text-decoration: underline !important;
      }
      svg {
        vertical-align: -0.25rem;
      }
    }
  }
  .item_more_info_list {
    padding: 0.5rem;
    width: 70%;
    border-bottom: solid 1px #b2bbc4;
    background-color: white;
    a {
      border: 1px solid #b2bbc4;
      margin: 0.25rem;
      display: inline-block;
      padding: 0rem 0.25rem 0rem 0.25rem;
      color: #b2bbc4;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        background-color: #f1f5f8;
        color: #494949 !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .item_more_info {
    flex-direction: column;
    .item_more_info_img {
      display: block;
      width: 100%;
      height: 10rem !important;
      background-color: #f7f7f8;
      img {
        padding-left: 25%;
      }
      span {
        bottom: 50% !important;
        background-color: transparent;
      }
      a {
        bottom: 20% !important;
      }
    }
    .item_more_info_list {
      margin: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .item_more_info {
    .item_more_info_img {
      img {
        height: 100% !important;
        width: auto !important;
      }
    }
  }
}
