.category_books_with_filter_title {
  max-width: 1500px;
  margin-bottom: 1rem;
  div:nth-of-type(1) {
    h3 {
      color: #494949;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }
  }
}

.book_info {
  div {
    margin-bottom: 1rem;
    a:nth-of-type(1) {
      img {
        box-shadow: 10px 7px 6px 0px #888888ad;
        background-image: linear-gradient(90deg, #ccc, #999, #ccc);
        width: 7rem;
        height: 10rem;
        display: block;
      }
    }
    p:nth-of-type(1) {
      color: #b2bbc4;
      font-size: 0.875rem;
      margin: 0.25rem 0rem 0.25rem 0rem;
      text-transform: uppercase;
    }
    a:nth-of-type(2) {
      color: #494949;
      font-size: 1rem;
      margin: 0.375rem 0rem 0.125rem;
    }
    p:nth-of-type(2) {
      color: #494949;
      font-size: 1rem;
      margin: 0;
    }
    p:nth-of-type(3) {
      color: #494949;
      font-size: 1rem;
      margin: 0;
    }
    p:nth-of-type(4) {
      color: #494949;
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .category_books_with_filter_title {
    div:nth-of-type(2) {
      display: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .book_info {
    div {
      margin-bottom: 1rem;
      a:nth-of-type(1) {
        img {
          display: block !important;
          margin: 0 auto !important;
          width: 37% !important;
          height: 12rem !important;
        }
      }
      a:nth-of-type(2) {
        text-align: center !important;
        display: block !important;
      }
      p {
        text-align: center !important;
      }
    }
  }
}
