.loading_page_bg {
  position: fixed;
  padding: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.377);
  width: 100%;
  height: 100vh;
  div {
    background-color:#7a8bd59c;
    border-radius: 50%;
    margin: 35% auto 0%;
    height: 10rem;
    width: 10rem;
    position: relative;
    div:nth-of-type(1) {
      -webkit-animation: moving 1s infinite linear;
              animation: moving 1s infinite linear;
      position: absolute;
      top: 25%;
      left: 25%;
      border-left: 0.3rem solid rgb(235, 15, 81);
      border-top: 0.3rem solid transparent;
      border-right: 0.3rem solid rgb(235, 15, 81);
      border-bottom: 0.3rem solid transparent;
      width: 5rem;
      height: 5rem;
      background-color: transparent;
      border-radius: 50%;
      margin: 0;
    }
    div:nth-of-type(2) {
      -webkit-animation: moving_2 1s infinite linear;
              animation: moving_2 1s infinite linear;
      position: absolute;
      top: 30%;
      left: 30%;
      border-left: 0.3rem solid rgb(74, 15, 235);
      border-top: 0.3rem solid transparent;
      border-right: 0.3rem solid rgb(74, 15, 235);
      border-bottom: 0.3rem solid transparent;
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border-radius: 50%;
      margin: 0;
    }
    div:nth-of-type(3) {
      position: absolute;
      top: 0%;
      left: 30%;
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border-radius: 50%;
      span {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}

@-webkit-keyframes moving {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes moving {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes moving_2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes moving_2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

