.loading_bg {
  height: 100vh;
  width: 100vw;
  z-index: 5;
  position: absolute;
  top: 0%;
  left: 0%;
  div {
    position: relative;
    top: 30%;
    left: 35%;
    height: 6rem;
    width: 6rem;
    background-color: #f7f7f8;
    padding: 1rem 0rem 0.5rem 0rem;
    span {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    span:nth-of-type(1) {
      background-color: red;
      -webkit-animation-name: dot_1;
              animation-name: dot_1;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }
    span:nth-of-type(2) {
      background-color: green;
      -webkit-animation-name: dot_2;
              animation-name: dot_2;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
    }
    p {
      position: absolute;
      bottom: 0rem;
      text-align: center;
      width: 100%;
    }
  }
}

@-webkit-keyframes dot_1 {
  0% {
    transform: translateX(3rem);
    z-index: 2;
    position: relative;
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(3rem);
  }
}

@keyframes dot_1 {
  0% {
    transform: translateX(3rem);
    z-index: 2;
    position: relative;
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(3rem);
  }
}
@-webkit-keyframes dot_2 {
  0% {
    transform: translateX(-2rem);
    z-index: 1;
    position: relative;
  }
  50% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(-2rem);
  }
}
@keyframes dot_2 {
  0% {
    transform: translateX(-2rem);
    z-index: 1;
    position: relative;
  }
  50% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(-2rem);
  }
}
