.sort_by_year_main_lg {
  p {
    color: #b2bbc4;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 1rem 0rem 1rem 0rem;
    padding-left: 10px;
  }
  div {
    label {
      position: relative;
      padding-left: 2rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      cursor: pointer;
      font-size: 0.95rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover {
        span {
          border: 1px solid grey !important;
        }
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ span {
          background-color: #494949 !important;
        }
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.3rem;
        width: 1.3rem;
        background-color: #ffffff;
        border: 1px solid #b2bbc4;
      }
    }
  }
}
