.sort_by_year_main_lg {
  p {
    color: #b2bbc4;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 1rem 0rem 1rem 0rem;
    padding-left: 10px;
  }
  div {
    span {
      margin-right: 1rem;
      label {
        cursor: pointer;
        color: #494949;
        input {
          cursor: pointer;
          margin-right: 0.5rem;
        }
      }
    }
  }
}
