.sort_by_year_main {
  p {
    color: #b2bbc4;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 1rem 0rem 1rem 0rem;
    padding-left: 10px;
    cursor: pointer;
  }
  div {
      margin-left: 10px;
    label {
      input {
      }
    }
  }
}
