.selected_genre_bg {
  border-top: 3px solid #c2c2d440;
  height: 24.625rem;
  background-color: white;
  box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  div:nth-of-type(1) {
    position: relative;
    background-color: #f7f7f8;
    overflow: hidden;
    img {
      position: absolute;
      max-height: 24rem;
      width: auto;
      right: -25%;
    }
    h2 {
      text-align: start;
      padding-left: 1rem;
      padding-top: 30%;
      font-weight: 400;
      span {
        text-transform: uppercase;
      }
    }
    a {
      text-align: start;
      padding-left: 1rem;
      font-size: 1.25rem;
      text-transform: capitalize;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
        color: #323233 !important;
      }
      svg {
        vertical-align: -0.25rem;
        &:hover {
          color: #323233 !important;
        }
      }
    }
  }
  div:nth-of-type(2) {
    height: 24.625rem;
    padding: 0.5rem;
    width: 70%;
    border-bottom: solid 1px #b2bbc4;
    a {
      border: 1px solid #b2bbc4;
      margin: 0.25rem;
      display: inline-block;
      padding: 0rem 0.25rem 0rem 0.25rem;
      font-weight: 400;
      color: #b2bbc4;
      text-decoration: none;
      line-height: 25px;
      width: auto;
      &:hover {
        cursor: pointer;
        background-color: #f1f5f8;
        color: #494949 !important;
      }
    }
  }
}

.empty {
  height: 100vh;
  width: 100%;
  background-color: transparent;
}
