.sort_by_large_screen_main{
    div {
        background-color: #f7f7f8;
        position: relative;
        height: 3rem;
        margin-bottom: 15px;
        span {
          color: #494949;
          font-size: 1rem;
          line-height: 3rem;
          display: block;
          text-align: center;
        }
      }
}