.center_band {
  max-width: 1500px;
  padding-bottom: 1rem;
  div {
    background-color: #f7f7f8;
    min-height: 26.5rem;
    padding-bottom: 1rem;
    .center_band_name {
      display: flex;
      align-items: center;
      h1 {
        width: 100%;
        color: #494949;
        text-align: center;
        text-transform: capitalize;
      }
    }
    .center_band_content {
      padding-bottom: 0rem;
      div {
        padding-bottom: 0rem;
        div {
          height: 100%;
          img {
            margin-top: 3.25rem;
            width: 100%;
            height: auto;
          }
          a {
            display: block;
            border: 1px solid #494949;
            color: #494949;
            height: 3.5rem;
            width: 9.75rem;
            line-height: 55px !important;
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
            margin: 3.25rem auto 0 auto;
            letter-spacing: 1px;
            &:hover {
              color: white;
              background-color: #494949;
            }
            svg {
              vertical-align: -0.25rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .center_band {
    div {
      .center_band_name {
        min-height: auto;
        h1 {
          margin-top: 15% !important;
        }
      }
      .center_band_content {
        div {
          height: auto !important;
          div {
            img {
            }
            a {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .center_band {
    div {
      .center_band_name {
        h1 {
          font-size: 2rem !important;
        }
      }
      .center_band_content {
        div {
          div {
            a {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .center_band {
    div {
      .center_band_name {
        h1 {
          font-weight: 400 !important;
        }
      }
    }
  }
}
