.shop_container_bg {
  padding-top: 6.5rem;
  background-color: #f7f7f8;
  max-width: 1500px;
  div {
    height: 50vh;
    .shop_name {
      display: flex;
      align-items: center;
      h1 {
        width: 100%;
        text-align: center;
        color: #494949 !important;
        letter-spacing: 0.1rem;
        font-weight: 400;
        span{
          text-transform: uppercase;
          margin-left: 0.5rem;
        }
      }
    }
    .shop_image {
      overflow: hidden;
      display: flex;
      align-items: center;
      img {
        width: 50%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .shop_container_bg {
    padding-top: 4.5rem !important;
  }
}

@media screen and (max-width: 800px) {
  .shop_container_bg {
    padding-top: 3.5rem !important;
    div {
      height: 35vh !important;
      div:nth-of-type(2) {
        img {
          width: 50% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 655px) {
  .shop_container_bg {
    div {
      div:nth-of-type(1) {
        h1 {
          display: none;
        }
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .shop_container_bg {
    div {
      height: 30vh !important;
    }
  }
}

@media screen and (max-width: 414px) {
  .shop_container_bg {
    div {
      height: 25vh !important;
      div:nth-of-type(2) {
        img {
          width: 50% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .shop_container_bg {
    div {
      height: 25vh !important;
      div:nth-of-type(2) {
        img {
          width: 70% !important;
        }
      }
    }
  }
}
