.not_found_page_bg {
  max-width: 1500px;
  margin-top: 6.5rem;
  div {
    div {
      a {
        background-color: #b2bbc4;
        display: block;
        width: 100%;
        text-align: center;
        cursor: pointer;
        height: 48px;
        color: #ffffff !important;
        line-height: 48px;
        padding-left: 18px;
        text-align: left;
        svg {
          color: #ffffff !important;
          font-size: 1.5rem;
          margin-bottom: 3px;
        }
      }
      .not_found_page {
        height: 90vh;
        display: flex;
        align-items: center;
        h1 {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .not_found_page_bg {
    margin-top: 4rem !important;
  }
}
